body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

.titleName {
  font-family: 'Rock Salt', cursive;
}

.backgroundimg1 {
  background-image: url('img/abstract-wave.jpg');
  background-size: cover;
  background-position: center center;
  margin-right: 0px;
  margin-left: 0px;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
}

.backgroundimg2 {
  background-image: url('img/abstract-wave.jpg');
  background-size: cover;
  background-position: center center;
  margin-right: 0px;
  margin-left: 0px;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
}

.backgroundimg3 {
  background-image: url('img/abstract-wave.jpg');
  background-size: cover;
  background-position: center center;
  margin-right: 0px;
  margin-left: 0px;
  background-repeat: no-repeat;
  height: 140vh;
  width: 100%;
}

.thumbnail {
  position: relative;
}

.caption {
  position: absolute;
  top: 45%;
  left: 0;
  width: 200px;
}

.portfolioContainer {
  height: 920px;
}


.eatOurPizzaText {
  position: relative;
 
  padding-top: 0px;
}
.nav-item {
  position: relative;
  top:30px;
  right: -85px
}


.aboutMeContainer {
  height: 500px;
  margin-top: 20px !important;
}

.contactContainer {
width: 50rem;
  height: 520px;
  position: relative;
  top: 30px;
}
.contactInfo {
  margin-top:5px;
  line-height: 10pt; 
}

a:hover {
  color: rgb(51, 54, 51) !important;
}


 

 @media only screen and (max-width: 1200px) {
 
  
  .aboutMeContainer {
    height: 450px;
    margin-top: 50px !important;
    position: relative;
    left: 0px;
  }

  .aboutMeText {
    position: relative;
    left:-4%;
    }

  .backgroundimg1 {
    background-image: url('img/abstract-wave.jpg');
    background-size: cover;
    background-position: center center;
    margin-right: 0px;
    margin-left: 0px;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
  }

  .img-thumbnail {
    max-width: 100%;
    left: 75%;
    margin-bottom: 15px;
  position: relative;
    left: -34px;
}


@media only screen and (max-width: 960px) {
  .backgroundimg1 {
    background-image: url('img/abstract-wave.jpg');
    background-size: cover;
    background-position:center center;
    margin-right: 0px;
    margin-left: 0px;
    background-repeat: no-repeat;
    height: 110vh;
    width: 100%;
  }

  .backgroundimg3 {
    background-image: url(img/abstract-wave.jpg);
    background-size: cover;
    background-position: center center;
    margin-right: 0px;
    margin-left: 0px;
    background-repeat: no-repeat;
    height: 1380px;
    width: 1303px;
}

  .nameBox {
    position: relative;
    top: 76px;
    left: -13px;
  }

  .navContainer1 {
    border-style: none !important;
    background-color: white !important;
  }
  .navbarLinks {
    position: relative;
    left: 187px;
    top: -31px;
  }

  .navbarLinks1 {
    position: relative;
    top: 1px;
  
  }
  .nameBox1 {
    position: relative;
    top: 107px;
  }

  .portfolioContainer {
    height: 1350px;
  }

  .workCard {
    position: relative;
    left: 120px;
    top: 445px;
  }

  .passwordCard {
    position: relative;
    left: -200px;
    top: 425px;
  }

  .pizzaCard {
    position: relative;
    left: 120px;
    top: 6px;
  }
  .aboutMeContainer {
    height: 600px;
    margin-top: 50px !important;
    margin-right: 10px;
    position: relative;
    left: -10px;
  }
  .aboutMeText {
    position: relative;
    left:-7%;
    }

  .img-thumbnail {
    width: 150px !important;
    height: 250px !important;
    left: 75%;
    margin-bottom: 15px;
  position: relative;
    left: -38px;
}
p {font-size: 16px !important;
}
 

@media only screen and (max-width: 768px) {

  .navContainer {
    border-style: none !important;
    background-color: white !important;
  }

  .navbarLinks {
    position: relative;
    left: -32px;
    top: -31px;
  }

  .nameBox {
    position: relative;
    left: 62px;
    top: -3px;
  }

  .aboutMeContainer {
    height: 801px;
  }

  p {font-size: 15px !important;
  }

 .img-thumbnail {
  height: 250px !important;
  position: relative;
  left: 25%;
  margin-bottom: 25px;
 }
  
.aboutMeText {
  position: relative;
  left: 119px;
  margin-bottom: -5px;
}

 .backgroundimg1 {
  height: 118vh;
    width: 917px;
}

.aboutMeText {
position: relative;
left:-60px;
}

.footerText {
  position: relative;
  right: 7.5%;
}
  
   
  


@media only screen and (max-width: 400px) {

  .navContainer {
    border-style: none !important;
    background-color: white !important;
  }

  .navbarLinks {
    position: relative;
    left: -80px;
    top: -31px;
  }
 
  .nameBox {
    position: relative;
    left: 7px;
    top: -3px;
  }
  .aboutMeContainer {
    height: 1000px;
    width: 400px;
    margin-top: 20px !important;
    position: relative;
    left: 0px;
  }

  p {font-size: 16px !important;
  }

 .img-thumbnail {
  height: 300px !important;
  width: 200px !important;
   position: relative;
   left: 7.5%;
   top: -19px;
   margin-bottom: 20px;
 }
  
 h1 {text-align: left;
 }

 .backgroundimg1 {
  height: 130vh;
  width: 442px;
  position: relative;
left:0%;
}

.aboutMeText {
position: relative;
left:10.5%;
}

.footerText {
  position: relative;
  right: 7.5%;
}
  
.contactContainer {
    height: 560px;
  }

  .portfolioContainer {
    height: 1000px;
  }
  

 
